function useUser({ userId }) {
  const [user, setUser] = useState(null)

  useEffect(async () => (
    const res = await fetch(`/api/user/${userId}`)
    const { user } = await res.json()

    setUser(user)
  ), [userId])

  return { user, setUser, err }
}

// -------------------------------------

function StandardUserAvatar({ userId }) {
  const { user } = useUser({ userId })

  return (
    <div>
      <img src={user.profileUrl} />
      {user ? user.name : 'Loading...'}
    </div>
  )
}

// -------------------------------------

function ProUserAvatar({ userId }) {
  const { user } = useUser({ userId })

  return (
    <div>
      <img src={user.profileUrl} />
      {user ? `${user.name} (Pro)` : 'Loading...'}
    </div>
  )
}
