<MousePosition relative>
  {
    (mousePosition) => (
      <Subscription url="">
        {
          (data) => (
            <Validate>
              {
                (err) => (
                  <div>
                    The values passed were: <Dump allArgs={[mousePosition, data, err]} />
                  </div>
                )
              }
            </Validate>
          )
        }
      </Subscription>
    )
  }
</MousePosition>
