const ComposedComponent = compose([
  <MousePosition relative={true} />,
  <Subscription url="/api/user/1" />,
  <Validate />
])

// --------------------------------------------------

<ComposedComponent>
  {(...args) => (
    <div>
      The values passed were: <Dump allArgs={args} />
    </div>
  )}
</ComposedComponent>
