class StandardUserAvatar extends Component {
  onMouseEnter = () => this.setState({ hovering: true })
  onMouseLeave = () => this.setState({ hovering: false })

  render() {
    const style = {
      backgroundColor: this.state.hovering ? 'red' : 'blue'
    }

    return (
      <div style={style}>
        { this.props.name }
      </div>
    )
  }
}

class ProUserAvatar extends Component {
  onMouseEnter = () => this.setState({ hovering: true })
  onMouseLeave = () => this.setState({ hovering: false })

  render() {
    const style = {
      backgroundColor: this.state.hovering ? 'red' : 'blue'
    }

    return (
      <div style={style}>
        { this.props.name } (Admin)
      </div>
    )
  }
}





